.details{
    width: 50%;
    background-color:rgba(254, 242, 242, 0.8);
    border-radius: 15px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    margin:  25px auto;
    padding: 5px 15px 20px 15px;
}

img{
    padding-right: 15px;
}

.row{
display: flex;
}
label {
    color: silver;
    display: block;
    margin-right: 10px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  input{
        margin-left: 5px;
        width: 200px;
        height: 25px;
        background: none;
        outline: none;
        border: none;
        border-bottom: 2px solid grey;
        color: #bbb;
        transition: all .5s ease;
        font-family: monospace;
        font-weight: 100;
        font-size: 16px;
  }

 
  button {
    margin-top: 15px;
    background-color: #d3d2d2;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    width: 200px;
    border: none;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }